fastapi
uvicorn
chainlit
requests
python-dotenv
python-multipart

langchain
langchain-community
langchain-google-genai

faiss-cpu
pypdf
ddgs
reportlab
python-docx
rank_bm25   

langchain-openai
speechRecognition
gTTS